.results-item {
  cursor: pointer;
}

.smaller-bottom-padding {
  margin-bottom: 6px;
}

#results {
  padding: 45px;
}

#main-container {
  margin-top: 100px;
}

.date-field {
  color: rgba(69, 63, 72, 0.56);
}

#search-input {
  min-width: 500px;
}