.results-item {
  cursor: pointer;
}

.smaller-bottom-padding {
  margin-bottom: 6px;
}

#results {
  padding: 45px;
}

#main-container {
  margin-top: 100px;
}

.date-field {
  color: rgba(162, 160, 162, 0.56);
}

#search-input {
  min-width: 500px;
}

html, #root {
  background-color: #373737;
}

.jumbotron {
  background-color: #1e1e1e !important;
}

p {
  color: white;
}